 /* 
This is a general css file which is included by the jsp file for a better design

*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	overflow: auto;
}

.card {
	position: absolute;
	top: 53%;
	left: 50%;

	transform: translate(-50%, -50%);
	width: 400px;
	height: auto;
	padding: 20px;
}